.white_nav {
  width: 100vw;
  height: 12vh;
  background-color: #fff;
  box-shadow: 5px 1px 5px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0%;
  left: 0%;
  z-index: 100;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  position: relative;
  left: 2%;
}
svg {
  width: 2rem;
  position: relative;
  right: 2%;
}
.container {
  width: 100vw;
}
.red_nav {
  z-index: 100;
  width: 100vw;
  background-color: #ee2f58;
  height: 8vh;
  box-shadow: 2px 2px 5px;
  position: sticky;
  top: 12%;
  left: 0%;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
    height: 8vh;
    position: relative;
    left: 2%;
    color: beige;

}
li{
    list-style: none;
}
.stepper{
    /* margin-top: 2rem; */
    width: 100vw;
    height:20vh;
    background-color: #fff;
    box-shadow: 3px 3px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .MuiSvgIcon-root {
  : #ee2f58;
} */